<table mat-table [dataSource]="comments" class="mat-elevation-z8">
    <ng-container matColumnDef="commentText">
        <td mat-cell *matCellDef="let element"> {{element.commentText}} </td>
    </ng-container>

    <ng-container matColumnDef="commentDate">
        <td mat-cell *matCellDef="let element"> {{element.commentDate}} </td>
    </ng-container>
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>