<div class="mat-app-background">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <button mat-flat-button color="primary">Primary</button>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
      <h3>Angular is the best frontend framework</h3>
    </mat-grid-tile>
  </mat-grid-list>
  <app-comment-table></app-comment-table>
</div>